In [1]:
import pandas as pd 
import requests
import re
import numpy as np

In [2]:
data=pd.read_csv("C:/Users/Tania/Desktop/shark.csv")

In [3]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [4]:
data.shape

(5992, 24)

In [5]:
null_cols=data.isnull().sum()
null_cols[null_cols>0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [6]:
#Checamos las columnas que tienen mas nulos Unnamed: 22 y Unnamed: 23
print(set(data["Unnamed: 22"]))
print(set(data["Unnamed: 23"]))
#Como en estas columnas solo hay uno y dos valores distintos de nulos correspondientemente, 
#y ni siquiera tienen nombre para saber a que se refieren, lo mejor serÃ¡ eliminarlas

{nan, 'stopped here'}
{nan, 'change filename', 'Teramo'}

In [7]:
borrar=["Unnamed: 22","Unnamed: 23"]
data=data.drop(borrar, axis=1)

In [8]:
data.columns
#verificamos que ya no estan esas columnas en el df

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [9]:
#Renombramos las columnas para facilitar su uso
new_col=data.columns.str.lower().str.strip().str.replace(" ", "_")
data.columns=new_col
data.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'],
      dtype='object')

In [10]:
#vemos cuantos renglones tienen diferentes valores en las columnas href y href_formula
href_data=data[(data["href"]!=data["href_formula"])]
href_data=href_data[["href","href_formula"]]
href_data.shape
#Son pocos los renglones en los que la columna href y href_formula son distintos por lo que 
#podrÃ­amos checar en que se diferencÃ­an esos pocos y solo dejar una columna en el data frame original

(54, 2)

In [11]:
#Para poder manejar mejor los datos, asignamos valor de cero a los nulos y tambien a las celdas que no tienen  asignado un href
href_data[["href","href_formula"]]=href_data[["href","href_formula"]].fillna(0)
href_data["href"][365]=0
href_data["href_formula"][448]=0
href_data

,href,href_formula
20,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
27,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
61,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
107,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
114,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
134,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
180,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
193,0,http://sharkattackfile.net/spreadsheets/pdf_di...
232,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
262,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
263,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
264,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
271,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
272,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
293,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
305,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
323,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
347,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
361,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
362,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
363,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
364,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
365,0,http://sharkattackfile.net/spreadsheets/pdf_di...
367,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
377,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
378,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
379,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
380,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
381,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
382,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
383,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
384,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
448,http://sharkattackfile.net/spreadsheets/pdf_di...,0
449,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
823,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1217,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1218,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2274,0,http://sharkattackfile.net/spreadsheets/pdf_di...
2477,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3019,http://sharkattackfile.net/spreadsheets/pdf_di...,0
3549,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3603,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3917,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3928,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4394,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4642,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4668,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4719,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5317,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5458,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5686,0,http://sharkattackfile.net/spreadsheets/pdf_di...
5694,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5819,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5857,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [12]:
#Vamos a checar que links de la columna href dan error para despues intercambiarlos por el link en la columna href_formula

stat_href=[]
for link in href_data["href"]:
    if link!=0:
        html=requests.get(link)
        if html.status_code==404:
            stat_href.append("error")
        else:
            stat_href.append( "bien")
    else:
        stat_href.append("nan")

In [13]:
#cree otra columna con el estado del link de href para visualizar mejor los datos a investigar
href_data["stat_href"]=stat_href
href_data

,href,href_formula,stat_href
20,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
27,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
61,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
107,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
114,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
134,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
180,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
193,0,http://sharkattackfile.net/spreadsheets/pdf_di...,nan
232,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
262,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
263,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
264,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
271,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
272,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
293,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
305,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
323,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
347,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
361,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
362,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
363,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
364,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
365,0,http://sharkattackfile.net/spreadsheets/pdf_di...,nan
367,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
377,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
378,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
379,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
380,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
381,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
382,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
383,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
384,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
448,http://sharkattackfile.net/spreadsheets/pdf_di...,0,bien
449,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
823,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
1217,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
1218,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
2274,0,http://sharkattackfile.net/spreadsheets/pdf_di...,nan
2477,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
3019,http://sharkattackfile.net/spreadsheets/pdf_di...,0,bien
3549,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
3603,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
3917,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
3928,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
4394,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
4642,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
4668,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
4719,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
5317,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
5458,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
5686,0,http://sharkattackfile.net/spreadsheets/pdf_di...,nan
5694,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error
5819,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,bien
5857,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,error

In [14]:
#Asignamos el link de href_formula a las celdas de la columna href donde stat_href es error o nulo 
href_data.loc[(href_data["stat_href"]=="error")|(href_data["stat_href"]=="nan"),"href"]=href_data["href_formula"]
lista=href_data["href"].index

In [15]:
#Cambiamos los valores de href necesarios en el data frame original con ayuda de una lista de indices donde 
#queremos hacer los cambios
data.loc[lista,"href"]=href_data["href"]

In [16]:
# Ahora si podemos eliminar la columna href_formula del data frame original ya que no nos aporta informaciÃ³n diferente

data=data.drop("href_formula", axis=1)

In [17]:
#Analicemos la columna sex
data.sex.value_counts()

M      4835
F       585
M         2
lli       1
N         1
.         1
Name: sex, dtype: int64

In [18]:
data[data.sex=="lli"]
#Vemos que el nombre es de hombre asÃ­ que cambiamos su sexo a M

,case_number,date,year,type,country,area,location,activity,name,sex,...,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href,case_number.1,case_number.2,original_order
1400,2004.11.11.b,11-Nov-04,2004,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,...,"Lacerations to hand, knee & thigh",N,13h30,5.5 m [18'] white shark,"R. Collier, GSAF",2004.11.11.b-Kang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.11.11.b,2004.11.11.b,4593

In [19]:
data.loc[data.sex=="lli", "sex"]="M"

In [20]:
data[data.sex=="N"]
#Vemos que no se trata de una persona en especÃ­fico, sino de varias y no se saben sus sexos

,case_number,date,year,type,country,area,location,activity,name,sex,...,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href,case_number.1,case_number.2,original_order
4708,1934.07.11,11-Jul-34,1934,Boating,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' boat, occupants William & Leslie Newton",N,...,No injury to occupants Sharks continually foll...,N,NaN,"Blue pointer, 11'","G.P. Whitley, ref: Daily Telegraph, 7/11/1934 ...",1934.07.11-Newton-boat-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.07.11,1934.07.11,1285

In [21]:
data[data.sex=="."]
#AquÃ­ tambien vemos que no se trata de una persona en especÃ­fico, sino de varias y no se saben sus sexos

,case_number,date,year,type,country,area,location,activity,name,sex,...,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href,case_number.1,case_number.2,original_order
5201,1908.06.02.R,Reported 02-Jun-1908,1908,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,NaN,.,...,"Remains of 3 humans recovered from shark, but ...",Y,NaN,Allegedly a 33-foot shark,"Taranaki Herald, 6/2/1908",1908.06.02.R-Matupi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.06.02.R,1908.06.02.R,792

In [22]:
data.loc[data.sex=="N", "sex"]="unknown"
data.loc[data.sex==".", "sex"]="unknown"

In [23]:
data.sex=data.sex.str.lower().str.strip()

In [24]:
data.sex.value_counts()

m          4838
f           585
unknown       2
Name: sex, dtype: int64

In [26]:
#Veremos si hay renglones duplicados
data.shape

(5992, 21)

In [27]:
#Trate de borrar renglones duplicados pero no hubo duplicados
data=data.drop_duplicates()

In [28]:
data.shape

(5992, 21)

In [29]:
#Checaremos la columna que nos informa si el evento fue fatal o no
data["fatal_(y/n)"].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
#VALUE!       1
F             1
N             1
n             1
Name: fatal_(y/n), dtype: int64

In [30]:
data["fatal_(y/n)"]=data["fatal_(y/n)"].str.lower().str.strip()

In [31]:
data["fatal_(y/n)"].value_counts()

n          4325
y          1552
unknown      94
f             1
#value!       1
Name: fatal_(y/n), dtype: int64

In [32]:
#Checamos a que se refiere el valor f y vemos que solo se encontraron restos humanos entonces si fue fatal
data[data["fatal_(y/n)"]=="f"]

,case_number,date,year,type,country,area,location,activity,name,sex,...,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href,case_number.1,case_number.2,original_order
4693,1935.01.21.R,Reported 21-Jan-1935,1935,Invalid,ISRAEL,Herzliyah,Sidny Ali,NaN,NaN,NaN,...,human remains washed ahore,f,NaN,NaN,"C. Moore, GSAF",1935.01.21.R-SidnyAli.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.01.21.R,1935.01.21.R,1300

In [33]:
#Hacemos el cambio
data.loc[data["fatal_(y/n)"]=="f", "fatal_(y/n)"]="y"

In [34]:
#Vemos que significa el valor #value! y vemos que hablan sobre un forence entonces si fue fatal
data[data["fatal_(y/n)"]=="#value!"]

,case_number,date,year,type,country,area,location,activity,name,sex,...,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href,case_number.1,case_number.2,original_order
5461,1890.05.14,14-May-1890,1890,Invalid,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,NaN,Joseph Lundy,m,...,Forensic evidence indicated death resulted fro...,#value!,NaN,NaN,"M. Levine, GSAF",1890.05.14-Lundy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.05.14,1890.05.14,532

In [35]:
#Hacemos el cambio
data.loc[data["fatal_(y/n)"]=="#value!", "fatal_(y/n)"]="y"

In [36]:
data["fatal_(y/n)"].value_counts()

n          4325
y          1554
unknown      94
Name: fatal_(y/n), dtype: int64

In [37]:
#Checaremos si hay alguna columna con poca variabilidad para poder eliminarla 
varianza_baja = []
for column in data._get_numeric_data():
    minimo = data[column].min()
    per90 = data[column].quantile(0.90)
    maximo = data[column].max()
    per10 = data[column].quantile(0.10)
    if minimo == per90 or maximo == per10:
        varianza_baja.append(column)

In [38]:
varianza_baja
#No hay alguna columna que podamos eliminar por tener baja variaciÃ³n, las Ãºnicas opciones
# eran la columna year o la columna original_order porque son las Ãºnicas columnas numÃ©ricas

[]

In [39]:
#Vemos el caso de las columnas case_number y case_number.1 para ver si podemos quitar alguna de las dos, 
#y vemos que solo hay 13 datos distintos entre ambas columnas
case_data=data[(data["case_number"]!=data["case_number.1"])]
case_data=case_data[["case_number","case_number.1", "case_number.2", "href"]]
case_data.shape

(13, 4)

In [40]:
#son los renglones donde case_number=case_number.1
case_data

,case_number,case_number.1,case_number.2,href
4,2016.09.15,2016.09.16,2016.09.15,http://sharkattackfile.net/spreadsheets/pdf_di...
33,2016.07.14.4,2016.07.14.R,2016.07.14.4,http://sharkattackfile.net/spreadsheets/pdf_di...
97,2016.01.24.b,2015.01.24.b,2016.01.24.b,http://sharkattackfile.net/spreadsheets/pdf_di...
116,2015.12.23,2015.11.07,2015.12.23,http://sharkattackfile.net/spreadsheets/pdf_di...
121,2015.10.28.a,2015.10.28,2015.10.28.a,http://sharkattackfile.net/spreadsheets/pdf_di...
169,2015.07-10,2015.07.10,2015.07.10,http://sharkattackfile.net/spreadsheets/pdf_di...
3296,1967.07.05,1967/07.05,1967.07.05,http://sharkattackfile.net/spreadsheets/pdf_di...
3569,"1962,08.30.b",1962.08.30.b,"1962,08.30.b",http://sharkattackfile.net/spreadsheets/pdf_di...
3654,1961.09.02.R,"1961.09,06.R",1961.09.02.R,http://sharkattackfile.net/spreadsheets/pdf_di...
4177,1952.08.05,1952.08.04,1952.08.05,http://sharkattackfile.net/spreadsheets/pdf_di...
4719,1934.01.08.R,1934.02.08.R,1934.02.08.R,http://sharkattackfile.net/spreadsheets/pdf_di...
5043,1900.00.00.R,1919.00.00.R,1900.00.00.R,http://sharkattackfile.net/spreadsheets/pdf_di...
5150,1911.07.31.R,1911.07.31.T,1911.07.31.R,http://sharkattackfile.net/spreadsheets/pdf_di...

In [41]:
case_data1=data[(data["case_number.2"]!=data["case_number.1"])]
case_data1=case_data1[["case_number","case_number.1", "case_number.2", "href"]]
case_data1
#Son los renglones dende case_number.1=case_number.2 Son los mismos casos que en la tabla de arriba salvo los renglones 169 y 4719

,case_number,case_number.1,case_number.2,href
4,2016.09.15,2016.09.16,2016.09.15,http://sharkattackfile.net/spreadsheets/pdf_di...
33,2016.07.14.4,2016.07.14.R,2016.07.14.4,http://sharkattackfile.net/spreadsheets/pdf_di...
97,2016.01.24.b,2015.01.24.b,2016.01.24.b,http://sharkattackfile.net/spreadsheets/pdf_di...
116,2015.12.23,2015.11.07,2015.12.23,http://sharkattackfile.net/spreadsheets/pdf_di...
121,2015.10.28.a,2015.10.28,2015.10.28.a,http://sharkattackfile.net/spreadsheets/pdf_di...
3296,1967.07.05,1967/07.05,1967.07.05,http://sharkattackfile.net/spreadsheets/pdf_di...
3569,"1962,08.30.b",1962.08.30.b,"1962,08.30.b",http://sharkattackfile.net/spreadsheets/pdf_di...
3654,1961.09.02.R,"1961.09,06.R",1961.09.02.R,http://sharkattackfile.net/spreadsheets/pdf_di...
4177,1952.08.05,1952.08.04,1952.08.05,http://sharkattackfile.net/spreadsheets/pdf_di...
5043,1900.00.00.R,1919.00.00.R,1900.00.00.R,http://sharkattackfile.net/spreadsheets/pdf_di...
5150,1911.07.31.R,1911.07.31.T,1911.07.31.R,http://sharkattackfile.net/spreadsheets/pdf_di...

In [42]:
#solucionamos el renglon 169 entrando al link correspondiente y checando la info del nÃºmero de caso
data.loc[[169],"case_number"]=data["case_number.1"]

In [43]:
# checamos la fecha del renglon 4719 ya que tiene que ver con el numero de caso, porque no 
#podemos acceder al link, vemos que coincide la fecha con el numero de caso todas las veces asi que el 
#numero de caso debe coincidir con el numero de caso 1
data.date[4719]

'Reported 08-Feb-1934'

In [44]:
#Hacemos el cambio
data.loc[[4719],"case_number"]=data["case_number.1"]

In [45]:
#Otro cambio especÃ­fico
data.loc[[3654],"case_number"]="1961.09.06.R"

In [46]:
#Checamos los links de los demas renglones y vemos que en estos renglones, el numero de casos debe ser igual al numero de casos1,
#los demas coinciden con la info en los links
ind=[4,33,116,121,3569,5043]

In [47]:
#Cambiamos estos datos 
data.loc[ind,"case_number"]=data["case_number.1"]

In [48]:
#ahora si podemos borrar la columna case_number.1 y la columna case_number. 2 sin que perdamos informaciÃ³n 
data=data.drop(["case_number.1","case_number.2"], axis=1)

In [49]:
#Para la columna de fechas: Hay varias fechas con la palabra Reported, asÃ­ que limpiaremos 
data.date=data.date.str.strip().str.replace("Reported","")

In [50]:
#Empezaremos a analizar los datos de la columna date primero veremos cuales renglones tienen un formato de fecha dd-mes-aa
fechas=[]
for fecha in data.date:
    fechas.append(bool(re.fullmatch("\d{2}-[A-Z][a-z]{2}-\d{2}",fecha)))

In [51]:
fec=np.array(fechas)
fec

array([ True,  True,  True, ..., False, False, False])

In [53]:
fe=data[fec][["date", "year", "time"]]
lis=fe.index
fe

           date  year       time
0     18-Sep-16  2016      13h00
1     18-Sep-16  2016      11h00
2     18-Sep-16  2016      10h43
3     17-Sep-16  2016        NaN
4     16-Sep-16  2016        NaN
...         ...   ...        ...
5318  21-Aug-00  1900  Afternoon
5319  31-Jul-00  1900        NaN
5320  14-Jul-00  1900        NaN
5595  10-Jun-78  1878        NaN
5747  28-Jul-52  1852        NaN

[4314 rows x 3 columns]

In [54]:
#Vemos que son muchos renglones, pero si queremos quitar la columna de year, es necesario que el aÃ±o en la fecha este completo
#AsÃ­ que modificamos el formato a dd-mes-aaaa
for i in lis:
    data.loc[i,"date"]=str(data.loc[i,"date"][0:7])+str(data["year"][i])

In [55]:
#Hacemos otro cambio 
data.date=data.date.str.strip().str.replace("--","-")

In [58]:
#si vemos cuantos renglones tienen ahora el formato dd-mes-aaaa vemos que son una gran cantidad 5081
fechas1=[]
for fecha in data.date:
    fechas1.append(bool(re.fullmatch("\d{2}-[A-Z][a-z]{2}-\d{4}",fecha)))
fen=np.array(fechas1)    
fe1=data[fen][["date", "year", "time"]]
fe1

             date  year   time
0     18-Sep-2016  2016  13h00
1     18-Sep-2016  2016  11h00
2     18-Sep-2016  2016  10h43
3     17-Sep-2016  2016    NaN
4     16-Sep-2016  2016    NaN
...           ...   ...    ...
5836  26-Sep-1785  1785    NaN
5840  12-Jul-1771  1771    NaN
5847  17-Dec-1742  1742    NaN
5848  06-Apr-1738  1738    NaN
5851  26-Mar-1703  1703  Night

[5081 rows x 3 columns]

In [59]:
#Vemos ahora que tipo de formato de fecha tienen los datos faltantes y cuantos son     
fel=data[~fen][["date", "year", "time"]]
fel
#Solo hay 913 renglones donde la fecha no tiene el formato dd-mes-aaaa

             date  year time
151        Sep-15  2015  NaN
282        Sep-14  2014  NaN
303        Aug-14  2014  NaN
366          2014  2014  NaN
496        Dec-12  2012  NaN
...           ...   ...  ...
5987  Before 1903     0  NaN
5988  Before 1903     0  NaN
5989    1900-1905     0  NaN
5990    1883-1889     0  NaN
5991    1845-1853     0  NaN

[911 rows x 3 columns]

In [60]:
#Veamos cuantos renglones tienen el segundo formato que puede tener la fecha: mes-aa
fechas2=[]
for fecha in data.date:
    fechas2.append(bool(re.fullmatch("[A-Z][a-z]{2}-\d{2}",fecha)))
fen2=np.array(fechas2)    
fe2=data[fen2][["date", "year", "time"]]
fe2

        date  year time
151   Sep-15  2015  NaN
282   Sep-14  2014  NaN
303   Aug-14  2014  NaN
496   Dec-12  2012  NaN
579   Apr-13  2012  NaN
...      ...   ...  ...
5267  Sep-04  1904  NaN
5268  Aug-04  1904  NaN
5280  Jul-03  1903  NaN
5297  Jun-02  1902  NaN
5298  Apr-02  1902  NaN

[284 rows x 3 columns]

In [61]:
#Lo cambiarÃ© a un formato en el que el aÃ±o aparezca completo 
lis1=fe2.index
for i in lis1:
    data.loc[i,"date"]=str(data.loc[i,"date"][0:4])+str(data["year"][i])

In [62]:
#Veamos que otros formatos aparecen en la columna y cuantos son 
fecha3=[]
for fecha in data.date:
    fecha3.append(bool(re.fullmatch("[A-Z][a-z]{2}-\d{4}|\d{2}-[A-Z][a-z]{2}-\d{4}",fecha)))
fen3=np.array(fecha3)    
fe3=data[~fen3][["date", "year", "time"]]
fe3

               date  year   time
366            2014  2014    NaN
732     12-Jan 2011  2011    NaN
813     190Feb-2010  2010  Night
1016  Late Jul-2008  2008    NaN
1074      Fall 2008  2008    NaN
...             ...   ...    ...
5987    Before 1903     0    NaN
5988    Before 1903     0    NaN
5989      1900-1905     0    NaN
5990      1883-1889     0    NaN
5991      1845-1853     0    NaN

[601 rows x 3 columns]

In [63]:
#Vamos a dejar el formato de fecha en el que solo aparezca el aÃ±o y ver que otros formatos hay y cuantos son
fecha4=[]
for fecha in data.date:
    fecha4.append(bool(re.fullmatch("[A-Z][a-z]{2}-\d{4}|\d{2}-[A-Z][a-z]{2}-\d{4}|\d{4}",fecha)))
fen4=np.array(fecha4)    
fe4=data[~fen4][["date", "year", "time"]]
fe4

               date  year   time
732     12-Jan 2011  2011    NaN
813     190Feb-2010  2010  Night
1016  Late Jul-2008  2008    NaN
1074      Fall 2008  2008    NaN
1075    Summer-2008  2008    NaN
...             ...   ...    ...
5987    Before 1903     0    NaN
5988    Before 1903     0    NaN
5989      1900-1905     0    NaN
5990      1883-1889     0    NaN
5991      1845-1853     0    NaN

[314 rows x 3 columns]

In [64]:
#Hacemos algunos cambios puntuales que pudimos observar para que queden dentro de alguno de los formatos anteriores
data.loc[732,"date"]="12-Jan-2011"
data.loc[813,"date"]="19-Feb-2010"
data.loc[1133,"date"]="19-Jul-2007"
data.loc[1134,"date"]="19-Jul-2007"

In [65]:
#Vemos que hay otro formato de fecha Before aaaa, si lo omitimos veremos que otros formatos hay y cuantos son 
fecha5=[]
for fecha in data.date:
    fecha5.append(bool(re.fullmatch("[A-Z][a-z]{2}-\d{4}|\d{2}-[A-Z][a-z]{2}-\d{4}|\d{4}|Before\W\d{4}",fecha)))
fen5=np.array(fecha5)    
fe5=data[~fen5][["date", "year", "time"]]
fe5

                             date  year   time
1016                Late Jul-2008  2008    NaN
1074                    Fall 2008  2008    NaN
1075                  Summer-2008  2008    NaN
1224               Early Aug-2006  2006    NaN
1238                 09-Jul-2006.  2006  13h00
...                           ...   ...    ...
5980  Before          19-Jul-1913     0    NaN
5982                   Circa 1862     0    NaN
5989                    1900-1905     0    NaN
5990                    1883-1889     0    NaN
5991                    1845-1853     0    NaN

[255 rows x 3 columns]

In [66]:
#Hacemos algunos cambios para limpiar mas las fechas, quite palabras como la estacion del aÃ±o o si fue temprano o tarde durante el aÃ±o
#ya que no creo que sea muy relevante y para que mas datos caigan en los formatos anteriores
data.date=data.date.str.replace("Fall","").str.strip()
data.date=data.date.str.replace("Late","").str.replace("Early","").str.replace("Summer","").str.replace("Winter","").str.replace("of","").str.replace("Reportd","").str.replace("Mid-","").str.replace("mid-","").str.replace("?","").str.replace("          ", "").str.strip()

<ipython-input-66-d581a97f5b63>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data.date=data.date.str.replace("Late","").str.replace("Early","").str.replace("Summer","").str.replace("Winter","").str.replace("of","").str.replace("Reportd","").str.replace("Mid-","").str.replace("mid-","").str.replace("?","").str.replace("          ", "").str.strip()

In [67]:
#Hacemos algunos otros cambios puntuales que pudimos ver al observar los datos con .unique()
data.loc[1075,"date"]="2008"
data.loc[1238,"date"]="09-Jul-2006"
data.loc[1301,"date"]="24-Nov-2005"
data.loc[1743,"date"]="02-Apr-2001"
data.loc[2021,"date"]="02-Jul-1997"
data.loc[2272,"date"]="May-1993"

In [68]:
#Observamos que hay otros formatos que se repiten como: No date, aaaas los omitimos y vemos que formatos quedan y cuantos
fecha5=[]
for fecha in data.date:
    fecha5.append(bool(re.fullmatch("[A-Z][a-z]{2}-\d{4}|\d{2}-[A-Z][a-z]{2}-\d{4}|\d{4}|Before\W\d{4}|No\Wdate|\d{4}s",fecha)))
fen5=np.array(fecha5)    
fe5=data[~fen5][["date", "year", "time"]]
fe5

                                                 date  year   time
1431  19-Jul-2004  to have happened  "on the weekend"  2004    NaN
2234                 Last incident  1994 in Hong Kong  1994    NaN
2289                           Between May & Nov-1993  1993    NaN
2628                     Mid Jul-1985 or mid Jul-1986  1985  16h00
2731                                         Ca. 1983  1983    NaN
...                                               ...   ...    ...
5980                                Before19-Jul-1913     0    NaN
5982                                       Circa 1862     0    NaN
5989                                        1900-1905     0    NaN
5990                                        1883-1889     0    NaN
5991                                        1845-1853     0    NaN

[173 rows x 3 columns]

In [69]:
#Limpie los datos lo mas que pude para que la mayoria tenga los siguientes formatos: dd-mes-aaa, mes-aaaa, aaaa, 
#Before aaaa,No date, aaaas
data.loc[2823,"date"]="30-Dic-1980"
data.loc[2900,"date"]="Apr-1978"
data.loc[2990,"date"]="26-Jul-1975"
data.loc[3338,"date"]="Aug-1966"
data.loc[3800,"date"]="1960"
data.loc[3852,"date"]="1959"
data.loc[4102,"date"]="1954"
data.loc[4240,"date"]="19-Jul-1950"
data.loc[4610,"date"]="26-Sep-1937"
data.loc[4651,"date"]="08-Apr-1936"
data.loc[4896,"date"]="09-May-1927"
data.loc[5299,"date"]="22-Feb-1902"
data.loc[5244,"date"]="10-Apr-1906"
data.loc[5245,"date"]="02-Apr-1906"
data.loc[5304,"date"]="Oct-1901"
data.loc[5374,"date"]="23-Dec-1896"
data.loc[5392,"date"]="02-Aug-1895"
data.loc[5456,"date"]="09-Aug-1890"
data.loc[5458,"date"]="26-Jun-1890"
data.loc[5495,"date"]="Oct-1887"
data.loc[4417,"date"]="22-Jul-1944"
data.loc[5575,"date"]="1880"
data.loc[5583,"date"]="03-Jul-1879"
data.loc[5596,"date"]="30-Mar-1878"
data.loc[5634,"date"]="09-Jan-1874"
data.loc[5670,"date"]="1868"
data.loc[5636,"date"]="28-Sep-1853"
data.loc[5776,"date"]="16-Jul-1844"
data.loc[5794,"date"]="26-Jul-1836"
data.loc[5795,"date"]="1836"
data.loc[5767,"date"]="1847"
data.loc[5801,"date"]="22-Jan-1831"
data.loc[5817,"date"]="1825"
data.loc[5825,"date"]="03-Sep-1816"
data.loc[5825,"date"]="May-1812"
data.loc[5850,"date"]="June-1721"
data.loc[5855,"date"]="1642"
data.loc[5869,"date"]="336 B.C."

In [70]:
#Volvemos a correr y ya solo 119 datos tienen un formato distinto, mas explicativo
fecha5=[]
for fecha in data.date:
    fecha5.append(bool(re.fullmatch("[A-Z][a-z]{2}-\d{4}|\d{2}-[A-Z][a-z]{2}-\d{4}|\d{4}|Before\W\d{4}|No\Wdate|\d{4}s|Circa\W\d{4}|\d{4}-\d{4}",fecha)))
fen5=np.array(fecha5)    
fe5=data[~fen5][["date", "year", "time"]]
fe5

                                                   date  year   time
1431    19-Jul-2004  to have happened  "on the weekend"  2004    NaN
2234                   Last incident  1994 in Hong Kong  1994    NaN
2289                             Between May & Nov-1993  1993    NaN
2628                       Mid Jul-1985 or mid Jul-1986  1985  16h00
2731                                           Ca. 1983  1983    NaN
...                                                 ...   ...    ...
5968                                Between 1918 & 1939     0    NaN
5972                                         1920 -1923     0    NaN
5978                                  Before17-Jul-1916     0    NaN
5979  No date (3 days after preceding incident) & pr...     0    NaN
5980                                  Before19-Jul-1913     0    NaN

[119 rows x 3 columns]

In [72]:
fe5.date.unique()
#AquÃ­ estan los demas formatos, como son muy pocos a comparaciÃ³n del total, ya no los simplificare mas

array(['19-Jul-2004  to have happened  "on the weekend"',
       'Last incident  1994 in Hong Kong', 'Between May & Nov-1993',
       'Mid Jul-1985 or mid Jul-1986', 'Ca. 1983', 'Ca. 1970',
       '13 or 30-May-1967', 'May-Jun-1965', 'Ca. 1965', 'Jan-Jun-1962',
       'Ca. 1962', 'Ca. 1960', 'Between 10 and 12-Sep-1959',
       'Jul- to Sep-1959', 'Ca. 1955', '1954 (same day as  1954.00.00.f)',
       'Between 01-Aug-1951 & 08-Aug-1951', '1950 - 1951', 'Ca. 1950',
       'Mar-1949 or Apr-1949', '13-Mar-1948 "Bitten last weekend',
       'Between 18 & 22-Dec 1944', 'Some time between Apr & Nov-1944',
       '02-Mar-1943 to 07-Mar-1943', '11-Sep-1942 to 16-Sep-1942',
       'Ca. 1940', 'Woirld War II', 'Ca. 1939', 'Ca. 1929',
       'Some time between 08-Jan-1928 & 21-Jan-1928',
       '07-Mar-1925 or 27-Mar-1925', 'to have taken place in 1919',
       'Ca. 1915', 'Ca. 1911', '14-Nov-1909 to 19-Nov-1909', 'Ca. 1903',
       'Ca. 1900', '1899 During the Seige  Ladysmith', 'Ca. 1899',
       '1898 (soon after the close  the Spanish-American War)',
       'Ca. 1890', '14-Sep-1883 (probably happened Ca. 1843/1844)',
       'Ca. 1881', 'Ca. 1880', 'Ca. 1870s', 'Nov- or Dec-1873',
       '24-Oct-1888, but took place around 1868', '28-Sept-1853',
       'Sep or Oct-1853', '1853 or 1854',
       '"Anniversary Day" 22-Jan-1850 or 1852', 'Ca. 1847', 'Ca. 1840',
       '1839/1840', 'Ca. 1839', 'Ca. 1837', 'Ca. Nov-1826', 'May 1812',
       'June-1721', 'Letter dated 10-Jan-1580', 'Ca. 1554', 'Ca. 1543',
       'Circa 500 A.D.', '77  A.D.', 'Ca. 5 A.D.', 'Ca. 214 B.C.',
       '336 B.C.', '493 B.C.', 'Ca. 725 B.C.', '1990 or 1991',
       'Before Oct-2009', 'Between   1951-1963', 'Beforer 1994',
       'Before 08-Jun-1912', 'No date, late 1960s',
       'No date, Before 1963', 'Before Feb-1998',
       'No date, Before May-1996', 'No date, Before Mar-1995',
       'No date, Before Aug-1989', 'No date, Before Aug-1987',
       'No date, Before 1987', 'No date, Before  1975',
       'No date, Before 1975', 'No date, Before 1969',
       'No date, Before 3-Jan-1967', 'No date, Before 8-May-1965',
       'No date, Before 1902',
       'No date, After August 1926 and before 1936',
       'Before  19-Jun-1959', 'Before  24 Apr-1959', 'Before  1958',
       'Before Mar-1956', '"During the war" 1943-1945',
       '"Before the war"', 'Said to be 1941-1945, more likely 1945',
       '1940 - 1950', 'World War II', 'A few years before 1938',
       'Between 1918 & 1939', '1920 -1923', 'Before17-Jul-1916',
       'No date (3 days after preceding incident) & prior to 19-Jul-1913',
       'Before19-Jul-1913'], dtype=object)

In [71]:
#Dejare la columna de aÃ±o porque puede ayudar a hacer ciertos anÃ¡lisis, pero la que si borrarÃ© serÃ¡ la de original_order
#Ya que era el indice que tenÃ­an los datos antes de ser ordenados por aÃ±o y no proporciona informaciÃ³n del tema
data=data.drop(["original_order"], axis=1)

In [73]:
#Chequemos las otras columnas
data.country=data.country.str.strip().str.replace("?","").str.upper()
#Con esto country queda bien

<ipython-input-73-4857832e8998>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data.country=data.country.str.strip().str.replace("?","").str.upper()

In [74]:
#No hay mucho que cambiar a las columnas area, location, activity y type
data.area=data.area.str.replace("ï¿½","").str.strip()
data.location=data.location.str.replace("ï¿½","").str.strip()
data.activity=data.activity.str.strip().str.lower()
data.type=data.type.str.strip().str.lower()

In [75]:
#Para la columna de time, casÃ­ todos los datos tienen el mismo formato solo haremos los siguientes cambios 
data.time=data.time.str.replace("ï¿½","").str.replace(" / ","-").str.replace("?","").str.replace(">","").str.replace(" -- ","-").str.replace("--","unknown").str.replace("j","h").str.replace(".","").str.replace("  ","unknown").str.replace("X","unknown")
data.time.unique()

<ipython-input-75-74527516c044>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data.time=data.time.str.replace("ï¿½","").str.replace(" / ","-").str.replace("?","").str.replace(">","").str.replace(" -- ","-").str.replace("--","unknown").str.replace("j","h").str.replace(".","").str.replace("  ","unknown").str.replace("X","unknown")

array(['13h00', '11h00', '10h43', nan, '15h15', '14h30', '15h40',
       'Late afternoon', '15h00', '14h00', '17h00', '16h00', '11h30',
       '12h00', '19h05', 'After noon', '1300', '10h00', '14h30-15h30',
       '22h00', '16h20', '14h34', '15h25', '14h55', '06h00', '17h30',
       '08h30', 'Morning', 'Afternoon', '15h45', '18h00', '17h46',
       'Morning ', '13h20', '15h49', '07h00', '08h00', '10h45', '19h00',
       '13h30', 'Midnight', '12h30', '09h30-10h00', '10h30', '18h15',
       '04h00', '14h50', '13h50', '19h20', '10h25', '16h50',
       '10h45-11h15', '16h45', '15h52', '07h30', '06h15', '14h40',
       '19h45', '17h10', '15h30', '10h10', '08h45', 'Evening', '09h00',
       '12h10', '18h05', '19h30', '11h41', '12h25', '09h30', '17h51',
       '16h12', '12h45', '10h50', '13h45', '14h15', '16h30', '09h45',
       '11h45', '10h20', '18h30', '06h45', '05h00', '03h30', 'Night',
       'Sometime between 06h00 & 08hoo', '06h30', '11h15', '17h20',
       '18h45', '20h00', '16h40', '16h18', '11h10', 'Early afternoon',
       '17h50', '07h00 - 08h00', '18h15-18h30', '17h01', '10h15', '09h57',
       '08h20', '17h58', '20h30', '15h19', '10h55', '15h55', '23h00',
       '12h40', '13h55', '16h05', '14h10', '15h20', '12h50', '14h45',
       '13h40', '13h24', '09h00 - 09h30', '830', '09h40', '11h40',
       '08h10', '15h56', '14h20', 'Just before noon', '07h56', '1600',
       '17h17', '16h35', '09h05', '07h15', '07h20', '19h28', '12h38',
       '05h50', '15h50', '11h05', 'Early morning', 'Dawn', '05h45',
       '13h25', '09h50', '12h20', '13h26', '09h11', '12h15', '13h15',
       'Midday', '17h45', '18h20', '10h40', '15h35', 'AM', '13h51',
       '08h50', '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00',
       'Lunchtime', '09h35', '10h27', '10h16', '500', '07h45',
       'Before 07h00', '09h20', '10h00-11h00', '12h05', '14h21', '18h50',
       '15h53', '"Just before 11h00"', '11h115', '08h15', '13h42',
       '20h15', '12h39', '17h35', '07h05', 'Sunset', 'unknown', '13h05',
       '11h50', '"Evening"', 'Just before sundown', '17h55', '22h30',
       '17h15', '16h10', '11h30 ', '06h10', '16h15',
       'Between 05h00 and 08h00', '07h08', '17h00 or 17h40', '03h00',
       '12h02', '12h55', '16h14', '17h11', '00h30', '14h37', '10h07',
       '13h53', '11h55', '13h23', 'Just after 12h00', '02h30', '08h40',
       '11h56', '14h35', ' ', 'Early Morning', '07h50',
       'Shortly after midnight', '14h25', '13h345', '06h47',
       '09h00 -10h00', '20h45 (Sunset)', '02h00', 'Late morning', 'PM',
       '18h40', '13h14', '13h06', '11h20', 'Shortly before 13h00',
       '12h34', '11h53', '8:04 PM', '12h46', '12h48', '17h42', '12h35',
       'Possibly same incident as 20000821', 'After Dusk', '11h57',
       'Noon', '17h40', '11h25', '18h25', '10h28', '09h15', '14h16',
       '09h55', '2 hours after Opperman', '15h05', '09h30 ',
       'Mid afternoon', 'Mid morning', '11h48', '11h00-11h30', '07h19',
       '13h37', '11h06', '"Night"', '11h58', '11h51', '18h12', '07h10',
       '07h40', '12h33', '30 minutes after 19920708a', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', '08h57', '18h30 (Sunset)', '08h35',
       '10h22', '02h45', 'Prior to 10h37', 'Daybreak', '18h10',
       'Mid-morning', '08h55', '16h30 or 18h00', 'Just before dawn',
       ' 14h00', 'Daytime', '06h50', '01h00', 'Dark', '"After lunch"',
       '23h30', '07h32', '15h00 or 15h45', '19h00-20h00', '12h45-13h45',
       '14h00 - 15h00', 'night', '03h45 - 04h00', '13h10', '09h30-15h30',
       '08h00-09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00h', '"After dark"',
       '10h00 or 14h00', '19h10', '16h25', '2 hrs before sunset',
       '18h15 to 21h30', '1500', '"shortly before dusk"',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATALunknown(Wire netting installed at local beaches after this incident)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', 'unknown ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00-07h00', '01h50', '17h00-18h00'],
      dtype=object)

In [76]:
#En las columnas donde hay nulos, las cambiaremos por unknown
data[["country","area","location","activity","name","sex","age","injury","fatal_(y/n)","time","species","investigator_or_source"]]=data[["country","area","location","activity","name","sex","age","injury","fatal_(y/n)","time","species","investigator_or_source"]].fillna("unknown")

In [77]:
#Checamos la columna de especies 
data.species=data.species.str.lower().str.strip()
data.species.value_counts()

unknown                                            2935
white shark                                         163
shark involvement not confirmed                      81
tiger shark                                          69
bull shark                                           55
                                                   ...
white shark, 4 to 5 m                                 1
a "small shark"                                       1
caribbean reef shark, 1.2 m to 1.5 m [4' to 5']       1
"a very large shark"                                  1
blacktip reef shark, 1.5 m [5']                       1
Name: species, Length: 1442, dtype: int64

In [78]:
#Hacemos un pequeÃ±o cambio para referirnos a lo mismo
data.species=data.species.str.replace("shark involvement not confirmed", "unknown")

In [79]:
data.species.value_counts()

unknown                                            3016
white shark                                         163
tiger shark                                          69
bull shark                                           55
6' shark                                             40
                                                   ...
caribbean reef shark, 1.2 m to 1.5 m [4' to 5']       1
"a very large shark"                                  1
tiger shark, 4.8 m                                    1
possibly juvenile tiger shark                         1
blacktip reef shark, 1.5 m [5']                       1
Name: species, Length: 1441, dtype: int64

In [88]:
#PodrÃ­amos cambiar el nombre de la columna species por shark_information ya que hay renglones que tienen una descripcion mas alla de la especie del tiburon
#Lo mismo podrÃ­amos cambiar el nombre de la columna name a victims ya que no siempre se refiere a nombres los elementos de esa columna
data.rename(columns={"name":"victims","species":"shark_information"}, inplace=True)

In [89]:
#Por Ãºltimo vemos los tipos de datos de las columnas y si es necesario cambiar alguno 
data.dtypes

case_number               object
date                      object
year                       int32
type                      object
country                   object
area                      object
location                  object
activity                  object
victims                   object
sex                       object
age                       object
injury                    object
fatal_(y/n)               object
time                      object
shark_information         object
investigator_or_source    object
pdf                       object
href                      object
dtype: object

In [90]:
#Cambiare la columna year a int
data.year=data.year.astype("int")

In [91]:
data.dtypes

case_number               object
date                      object
year                       int32
type                      object
country                   object
area                      object
location                  object
activity                  object
victims                   object
sex                       object
age                       object
injury                    object
fatal_(y/n)               object
time                      object
shark_information         object
investigator_or_source    object
pdf                       object
href                      object
dtype: object

In [92]:
tab=data.to_csv("output/clean_sharks.csv")